<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Info de peliculas</h4>
      <dl>
        <dt>Titulo</dt>
        <dd><%= @movie['Title'] %></dd>
        <dt>Year</dt>
        <dd><%= @movie['Year']%></dd>
        <dt>Runtime</dt>
        <dd><%= @movie['Runtime']%></dd>
        <dt>Diretor</dt>
        <dd><%= @movie['Director']%></dd>
      </dl>
    </div>
  </div>
</div>